In [6]:
import pandas as pd
import numpy as np

In [7]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_validate
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_classif
from sklearn.metrics import fbeta_score, make_scorer
from sklearn.metrics import make_scorer, accuracy_score, precision_score, recall_score, f1_score

# Reading Data

In [10]:
df = pd.read_csv('../../Dataset/NSL_new.csv')

In [11]:
df = df.drop( df[ (df.label != "normal") & (df.label != "neptune") & (df.label != "back") & (df.label != "land") & (df.label != "pod") & (df.label != "smurf") & (df.label != "teardrop") & (df.label != "teardrop") & (df.label != "mailbomb") & (df.label != "apache2") & (df.label != "processtable") & (df.label != "udpstorm") & (df.label != "worm")].index )
print(df.shape)

(113270, 123)

In [12]:
df = df.sample(n=20000)

In [13]:
df.head()

,duration,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,num_failed_logins,logged_in,num_compromised,...,flag_RSTO,flag_RSTOS0,flag_RSTR,flag_S0,flag_S1,flag_S2,flag_S3,flag_SF,flag_SH,label
47126,0,64,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,normal
49484,0,292,937,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,normal
100198,15,192,1462,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,1,0,normal
71954,0,44,121,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,normal
100843,0,212,1160,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,normal

In [14]:
X = df.drop(['label'], axis=1)
y = df['label']

In [15]:
scoring_metrics = {'accuracy' : make_scorer(accuracy_score), 
           'precision' : make_scorer(precision_score, average="micro"),
           'recall' : make_scorer(recall_score, average="micro"), 
           'f1_score' : make_scorer(f1_score, average="micro")}

In [16]:
y = y.replace( to_replace =  'normal' , value = 0 )

y = y.replace( to_replace =  'neptune' , value = 1 )
y = y.replace( to_replace =  'back' , value = 1 )
y = y.replace( to_replace =  'land' , value = 1 )
y = y.replace( to_replace =  'pod' , value = 1 )
y = y.replace( to_replace =  'smurf' , value = 1 )
y = y.replace( to_replace =  'teardrop' , value = 1 )
y = y.replace( to_replace =  'mailbomb' , value = 1 )
y = y.replace( to_replace =  'apache2' , value = 1 )
y = y.replace( to_replace =  'processtable' , value = 1 )
y = y.replace( to_replace =  'udpstorm' , value = 1 )
y = y.replace( to_replace =  'worm' , value = 1 )

# adaboost , Random Forest - mlp

In [18]:

from sklearn.datasets import load_iris
from sklearn.ensemble import RandomForestClassifier, StackingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.neural_network import MLPClassifier

In [23]:
# Create Base Learners
base_learners = [
                 ('rf_1', RandomForestClassifier(n_estimators=90, min_samples_split=0.1 , max_depth=19 )),
                 ('rf_2', AdaBoostClassifier(learning_rate=0.1 , n_estimators=1000))             
                ]

In [24]:
# Initialize Stacking Classifier with the Meta Learner
clf1 = StackingClassifier(estimators=base_learners, final_estimator= MLPClassifier() , verbose=15 , cv=6)

In [ ]:
clf1.fit(X,y)

In [ ]:
clf1_Score = pd.DataFrame(clf1)
print(clf1_Score)

# adaboost , KNN - mlp

# adaboost , Descision Tree - mlp

# adaboost , SVM - mlp